body {
    font-family: 'Gantari', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
    font-weight: 700;
}

.picture1 {
    width: 100%;
}

.picture2 {
    width: 70%;
}

.part {
    width: 100%;
    padding: 5%;
}

section {
    display: flex;
}

.orange {
    color: orangered;
}

.click-me {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
}

.banner {
    background-image: url(image/7.png);
    background-repeat: none;
}

.img-size {
    width: 100%;
}

.recepie {
    margin: 100px;
}

.container {
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px grey;
    border-radius: 20px;
}

.my {
    text-align: center;
}

.gain {
    width: 100%;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: -50px;
    margin-bottom: 50px;
    box-shadow: 0 0 10px grey;
    ;
    border-radius: 10px;
}

.inner {
    width: 33%;
    text-align: center;
}
.last{
    display: block;
    background-color: rgb(21, 21, 43);
    color: white;
    height: 150px;
    text-align: center;
    padding: 20px;
}
h3{
    color: gray;
}